$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;

$font-background-light: #FFF;
$font-background-gray-light: #fafafa;

$border-gray: #dbdbdb;
$border-dark: #000;

$action: #1895F6;
$action2: #2C53AF;
$danger: #ed4956;

$telefono: 767px;
$tablet: 768px;
$desktop: 1024px;

$fuente_principal: 'Roboto', sans;