@use "../base/variables" as v;
@use "../base/mixins" as m;

.changePassword {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  &__input {
    border: 2px solid v.$border-gray;
    padding: 0.8rem;
    outline: none;
    margin-top: 1rem;

    @include m.telefono {
      margin-top: 2rem;
    }
    &:focus {
      border: 2px solid darken(v.$border-gray, 20%);
    }
  }
  &__botonUpdate {
    margin-top: 1rem;
    &:nth-child(4) {
      @include m.boton(v.$action, #fff);
    }
  }
}
.back {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  text-align: center;
  justify-content: center;

  &__button {
    @include m.boton(v.$danger, #fff);
  }
}
