@use "../base/variables" as v;
@use "../base/mixins" as m;

.card {
  height: auto;
  width: 100%;
  overflow: hidden;
  border: 1px solid v.$border-gray;
  margin-top: 1rem;
  padding: 0.9rem;
  

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    height: 5rem;
    max-width: 5rem;
    object-fit: cover;
    cursor: pointer;
   
  }
}

.card__user {
  display: flex;
  align-items: center;
}

.cardAvatar__image {
  border-radius: 50%;
  min-width: 5rem;
  margin-right: 0.5rem;
  object-fit: contain;
  transition: transform .3s ease; 

  &:hover{
    transform: scale(1.1);
  }
}
.card__text {
  margin-left: 1rem;
  .card__name {
    text-align: left;
    margin: 0;
    color: v.$action;
  }
  .card__userName {
    text-align: right;
    margin: 0;
    font-size: 1.2rem;
    color: rgba(88, 82, 82, 0.685);
  }
}
.card__action{
  padding: 1rem 1rem 0 1rem;
}
.card__comment{
  margin-top: 1rem;
}